@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FEFDFB;
  background-image: radial-gradient(ellipse at top, #FEFDFB, #F4EFE6);
}

.dark body {
    background-color: #1C1A1A;
    background-image: radial-gradient(ellipse at top, #2C2A2A, #1C1A1A);
}


/* Ensure proper word spacing in all languages, especially for RTL */
html[dir="rtl"] body {
  word-spacing: 1px;
}